.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.background {
  padding: 1rem 1.2rem;
  width: 100%;
  height: 100%;
  min-width: 300px;
  max-width: 800px;
  top: 0px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(var(--card-border-rgb), 0);
}

.TitleBackground {
  padding: 10px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
}

.shipItem {
  padding: 1rem 1.2rem;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: background 200ms, border 200ms;
  text-decoration: none;
  color: black;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

.details {
  color: white;
}

.column {
  float: left;
  padding: 10px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.title {
  text-align: center;
}
